@import '~bootstrap/scss/bootstrap';


.my_banner{
   img{
      width: 100%;
      height: 50vh;
   }
}

.my_card{
   margin-left: 10rem;
   background-color: transparent;
   width: 300px;
   border: transparent;

   img{
      height: 200px;
      width: 200px;
   }

}

   .description-card{
      color: white;
      margin-top: 1rem;
      margin-bottom: 1rem;

      h1{
         font-size: 1rem;
      }
      
      h2{
         font-size: 1rem;
      }

      h4{
         font-size: 1rem;
      }
   }


.banner-footer-gray{
   height: 40vh;
   background-color: rgb(52, 51, 51);
   background-image: url(../assets/img/footer-bg.jpg);
}

.social-box{
   height: 10vh;
   background-color: rgb(52, 51, 51);
   margin-top: 20rem;

}

.social{
   margin-left: 80rem;
   padding: 1.5rem;
}

.my_bluecontainer{
   height: 19vh;
   background-color: rgb(91, 91, 255);
   padding-left: 15rem;
   padding-top: 1.5rem;
}

.list-itemfooter{
   margin-top: 3.5rem;
   margin: 2rem;
   img{
      height: 4rem;
   }
   h4{
      margin-top: 1rem;
      margin-left: 1rem;
      font-size: 1rem;
   }
}

.ul-list{
   padding-left: 2rem;
}

